body {
    font-family: "Open Sans",sans-serif;
    color: black;
}

/* SEÇÃO CURSO */

#curso .card {
    background-color: black;
}

/* SEÇÃO CURSO */

/* Search Bar Edit ==================== BEGIN */
.search-main-page {
    width: 70%;
    background-color: red;
    /*display: block;
    font-family: inherit;
    font-size: 1rem;
    height: 40px;
    outline: 0;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    box-shadow: none;
    padding: 0 12px;*/
}

.form-item, form {
    display: block;
    position: relative;
    z-index: 10;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 0%;
}

input.search, input[type="search"] {
    padding-left: 30px !important;
}

/* Search Bar Edit ==================== END */

.botao-pesquisa-main {
    display: block !important;
    margin: 20px auto 0 auto !important;
    width: auto !important;
    font-size: 24px !important;
    letter-spacing: 0px !important;
    font-weight: 500 !important;
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

/* Página de Resultados de busca - BEGIN */
.config-direct-barra-pesquisa {
    width: 70%;
    display: inline;
    padding: 0px 0px;
}

.config-form-barra-pesquisa {
    margin: 50px auto 50px auto;
    width: 50%;
    text-align: center;
    padding: 0px 0px;
}

.config-base-barra-pesquisa {
    background-color: #0071BD;
    margin: 85px 0px 20px 0px;
}

.config-base-barra-pesquisa-geral {
    background-color: #0071BD;
    margin: -10px 0px 20px 0px;
}

.config-botao-barra-pesquisa {
    margin-top: 12px;
    margin-left: 8px;
    font-size: 16px !important;
    letter-spacing: 0px !important;
    font-weight: 500 !important;
}

/* Página de Apresentação do curso - BEGIN */

.titulo-geral {
    margin: 30px 0;
}

.espacamento-visao-geral {
    margin-top: 15px;
}

.espacamento-fundo {
    margin-bottom: 15px;   
}

.espacamento-notas-visao-geral {
    margin-top: 15px;
    vertical-align: center;
}

.espacamento-titulos-avaliacoes {
    margin-top: 30px;
}

.config-badge-curso {
    font-size: 14px;
    width: 50px;
}

.titulo-indice {
    margin-top: 20px;
}

.estrelas {
    font-size: 24px;
    letter-spacing: 5px !important;
    margin-left: 10px;
}

.num-avaliacoes {
    font-size: 20px; 
    width: auto;
}

.titulo-avaliacoes {
    display: inline;
}

.imagem-comentario {
    width: 100px;
    height: auto;
}

/* Página de Apresentação do curso - END */


/* Box do curso - BEGIN */
.titulo-box {
    font-size: 18px;
    letter-spacing: 0rem;
}

.icone-local {
    font-size: 16px;
}

.instituicao-nome {
    padding-top: 1px;
}

.instituicao-endereco {
    font-size: 16px !important;
    padding-top: 3px !important;
}

.espacamento-instituicao-endereco{
    margin-bottom: 15px;
    margin-top: 10px;
}

.espacamento-notas {
    margin-bottom: 15px;
}

.espacamento-detalhes-curso {
    margin-bottom: 15px;
}

.espacamento-detalhes-extras {
    margin-top: 5px;
    margin-bottom: 5px;
}

.config-badge {
    font-size: 18px;
    width: 50px;
}

.margem-cinza {
    border-color: rgba(0,0,0,.125);
}

.existe {
    color: green !important;
}

.n-existe {
    color: red !important;
}

.alinhamento {
    text-align: right;
}

.marcacao-padrao {
    color: #03a9f4 !important; 
}

.contorno1 {
    border: 1px solid red !important;
}

.contorno2 {
    border: 1px solid blue !important;
}

.contorno3 {
    border: 1px solid green !important;
}

input.search, input[type="search"] {
    background-repeat: no-repeat;
    background-position: 8px 53%;
    padding-left: 10px;
    padding-right: 10px;
}

/* Media Queries */
/* xs < 768 */
@media screen and (max-width: 767px) {
    .config-form-barra-pesquisa {
        width: 100%;
    }

    .alinhamento {
        text-align: center;
    }

    .instituicao-endereco {
        font-size: 14px !important;
    }

    .botao-pesquisa-main {
        margin: 20px auto 0px auto;
        font-size: 16px !important;
        padding: 10px 10px 30px 10px;
    }

    .form-item, form {
        padding-left: 20%;
        padding-right: 20%;
        padding-bottom: 40px;
    }

    .estrelas {
        font-size: 20px;
        letter-spacing: 2px !important;
        margin-left: 5px;
        margin-top: 10px;
    }

    .num-avaliacoes {
        font-size: 18px; 
        width: auto;
    }

    .titulo-geral {
        margin: 70px 0;
    }

}

/* xs < 1024 */
@media screen and (max-width: 1024px) {
    .titulo-avaliacoes {
        display: block;
    }

    .fluid-size {
        margin-top: 20px;
        width: 100%;
    }
}

/* Box do curso - END */ 

/* Página de Resultados de busca - END */


/* Comentários da página do curso - INÍCIO */

.titulo-secao-comentarios {
    margin-top: 20px;
}

.espacamento-box-comentario {
    margin-top: 20px;
}

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}

/* Comentários da página do curso - FIM */